<h3>Add Stories</h3>
<div class="row">
    <form action="" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="" id="" class="status"></select>
            </div>
        </div>
    </form>
</div>